.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 15px 25px;
  vertical-align: middle;
  font-family: inherit;
  text-align: center;
  width: 100%;
}

