.contacts {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 26px;

  &--index {
    background-color: $color-light;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.contacts__slogan {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: inherit;
  color: $color_dark-gray-title;
  margin: 0;
  margin-right: 18px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: inherit;
  color: $color_dark-gray;
  margin: 0;
}

.contacts__map {
  width: 100%;
  height: 362px;
  overflow: hidden;

  &-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}

.contacts__image-map {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.contacts__image-mappin {
  position: absolute;
  top: 138px;
  right: 129px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 0;
    margin-bottom: 50px;

    &--index {
      background-color: $color_light;
      margin-bottom: 51px;
    }
  }

  .contacts__wrapper {
    margin: 0;
    padding: 59px 40px;
    background-color: inherit;
    align-items: center;
  }

  .contacts__slogan {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    margin-top: 2px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    width: 200px;
    text-align: right;
    margin-top: -2px;
  }

  .contacts__city {
    margin-top: 20px;
    display: block;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__image-map {
    height: auto;
  }

  .contacts__image-mappin {
    top: 145px;
    right: 322px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-bottom: 44px;
  }

  .contacts__wrapper {
    position: absolute;
    z-index: 100;
    top: 95px;
    left: 30px;
    padding: 58px 67px 60px 79px;
    width: 565px;
    background-color: $color-light;
  }

  .contacts__slogan {
    margin-top: 1px;
    margin-left: 1px;
  }

  .contacts__address {
    width: 168px;
    text-align: left;
    padding-top: 1px;
    margin-top: -4px;
  }

  .contacts__city {
    margin-top: 19px;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__image-mappin {
    top: 131px;
    right: 419px;
  }
}
