.live-example {
  background-color: $color_gray;
  padding: 17px 0 36px;
}

.live-example__title {
  font-family: inherit;
  font-size: 36px;
  line-height: 60px;
  color: $color_dark-gray-title;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 23px;
}

.live-example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color_dark-gray;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
}
