.live-example-info {
  margin-bottom: 34px;
}

.live-example-info__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 34px;
  flex-wrap: wrap;
  max-width: 320px;
}

.live-example-info__item {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  position: relative;
  padding: 13px 18px 15px;
  margin: 0;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.live-example-info__text {
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  color: $color_dark-gray-title;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
}

.live-example-info__caption {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $color_dark-gray;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 8px;
  padding: 0 10px;
  display: inline-block;
  width: calc(100% - 38px);
  transform: translateY(100%);
  background-color: $color_gray;
}

.live-example-info__cost {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: $color_dark-gray-title;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .live-example-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .live-example-info {
    display: block;
    margin-bottom: 75px;
  }
}
