.page-header {
  padding-top: 10px;
  border-bottom: 1px solid #d9d9d9;

  &--index {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 22px;
    border: none;
  }
}
