.page__programs-categories {
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.page__advantages {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}
