.page-footer {
  background-color: $color_gray;
  padding-bottom: 30px;
}

// .page-footer--index {
//   background-color: $color_gray;
// }

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__social {
  margin-bottom: 13px;
  padding-right: 11px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    background-color: $color_gray;
    padding-bottom: 60px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    position: relative;
  }

  .page-footer__social {
    margin-bottom: 2px;
  }
}
