.page-title {
  font-size: 36px;
  line-height: 60px;
  color: $color_dark-gray-title;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
  margin-bottom: 28px;
  padding-top: 15px;

  &--form {
    margin-bottom: 37px;
    line-height: 36px;
    padding-top: 27px;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    margin-top: 39px;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 60px;


    &--form {
      margin-bottom: 54px;
      margin-top: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    margin-top: 56px;
    margin-bottom: 83px;
  }

  .page-title--form {
    margin-left: 0;
    padding-top: 14px;
    margin-bottom: 56px;
  }
}
