page-footer {
  background-color: $color_gray;
  padding-bottom: 30px;
}

// .page-footer--index {
//   background-color: $color_gray;
// }

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__social {
  margin-bottom: 13px;
  padding-right: 11px;
}
