.slider__images {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 11px;
  height: 240px;
}

.slider__image-wrapper {
  display: none;
  transition: 0.2s ease-out;

  &--active {
    display: block;
  }
}

.slider__image {
  width: 280px;
  height: 232px;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__label {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_dark-gray-title;
  cursor: pointer;
  border: none;
}

.slider__bar {
  width: 84px;
  height: 14px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 13px;
}

.slider__toggle {
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $color_green;
  margin: 0 6px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider {
    max-width: 570px;
    margin: 0 auto;
  }

  .slider__images {
    width: auto;
    height: 511px;
    margin-bottom: 34px;
    justify-content: space-between;
  }

  .slider__image-wrapper {
    width: 50%;
    overflow: hidden;
    display: block;
    position: relative;

    &--before {
      width: 50%;
    }
  }

  .slider__image {
    position: absolute;
    width: auto;
    height: auto;

    &--before {
      left: -10px;
      top: 0;
      height: 499px;
    }

    &--after {
      right: -10px;
    }
  }

  .slider__label {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    border-bottom: 1px dotted rgba($color_dark-gray, 0.23);
    padding-bottom: 5px;
    margin-left: 2px;

    &--after {
      padding-left: 3px;
      margin-right: -3px;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba($color_dark-gray, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__buttons {
    padding-left: 0;
  }

  .slider__bar {
    width: 428px;
    height: 6px;
    position: relative;
    background-color: rgb(205, 205, 205);
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 6px;
  }

  .slider__toggle {
    border: 1px  solid rgb(205, 205, 205);
    border-radius: 50%;
    // background-color: rgb(104, 183, 56);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    transform: translateX(-50%) translateX(1px);
    margin: 0;
    left: 50%;
    top: -15px;
    width: 34px;
    height: 34px;
    background: radial-gradient(rgb(104, 183, 56) 4px, $color_light 4px);

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border-width: 2px;
      border-color: rgb(104, 183, 56);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 0;
    max-width: 592px;
    width: 592px;
  }

  .slider__images {
    margin-bottom: 47px;
  }

  .slider__image--before {
    left: 2px;
    top: 13px;
    height: 499px;
  }

  .slider__image--after {
    right: -1px;
    top: 13px;
  }

  .slider__buttons {
    justify-content: center;
    padding: 0 10px 0 12px;
  }
}
